<!DOCTYPE html>
<html>
<head>
    <title>Novo Cliente</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>

<div class="container">

    <div class="sidebar">

        <h2>🚀 CRM Augusto</h2>

        <a href="/">📊 Dashboard</a>

        <a href="/clientes">👥 Clientes</a>

        <a href="/cadastro">➕ Novo Cliente</a>

        <a href="/logout">🚪 Sair</a>

    </div>

    <div class="content">

        <h1>➕ Cadastrar Cliente</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categoria, mensagem in messages %}

            <div class="alerta {{ categoria }}">
                {{ mensagem }}
            </div>

            <br>

        {% endfor %}
    {% endif %}
{% endwith %}

        <form action="/cadastrar" method="POST">

            <input
                type="text"
                name="nome"
                placeholder="Nome do cliente"
                required
            >

            <br><br>

            <input
                type="text"
                name="telefone"
                placeholder="Telefone"
                required
            >

            <br><br>

            <textarea
                name="observacoes"
                placeholder="Observações"
                rows="5"
            ></textarea>

            <br><br>

            <button type="submit">
                💾 Cadastrar Cliente
            </button>

        </form>

    </div>

</div>

</body>
</html>